/*debug*/

* {

    border: dashed 1px;
}

/*end-debug*/

/* region common */

.flex {

    display: flex;
    flex-wrap: wrap;

}

.flex-end {

    justify-content: flex-end;

}

.align-center {

    align-items: center;
}

.link-line {

    a:link {

        text-decoration: underline;
    }
}

.h-900 {

    min-height: 900px;

}

/* end region common */

/*header*/

header {

    padding-inline: 1rem;
}

nav {

    max-height: 85px;
}

.container-menu {

    align-items: center;
    align-content: center;
    justify-content: center;

}

.left-menu,
.right-menu {

    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    li {

        margin-left: 1rem;
    }

}



.b-start {

    margin-left: 1rem;

}

.b-start:link,
.b-start:visited {

    background-color: blue;
    color: white;
    padding: 0.4rem 0.7rem;
    text-align: center;

}

.logo {

    height: 25px;

}

/* end header*/

/*jumbotron*/

.jumbotron {

    background-color: aqua;
    margin-top: 4rem;

    h1 {

        font-size: 3rem;
        padding-bottom: 2rem;
    }

    i {
        font-size: 3rem;
    }



}

.j-color {

    background-color: aqua;
}

.b-start-free:link,
.b-start-free:visited {

    background-color: blue;
    color: white;
    text-align: center;
    display: block;
    width: 70%;
    padding: 0.4rem 0.7rem;
    margin: 2rem 0;

}

.t-moment {

    padding-bottom: 3rem;

}

/* end jumbotron*/

/*business*/

.business {

    margin-top: 4rem;

    form {

        text-align: center;
    }

}

.type {

    border: 1px solid grey;
    font-size: 13px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
}

.card {

    border: 1px solid grey;
    padding: 2rem;

    hr {

        border-top: solid 1px grey;
    }

}

.cost {

    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    h3 {

        font-size: 1.3rem;
    }

    span {

        font-size: 0.9rem;
    }

}

.money {

    font-weight: bold;

}

.duration {

    color: grey;
}

.feature {

    list-style: none;

    li {

        padding-bottom: 1rem;
    }

}

.b-30-free:link,
.b-30-free:visited {

    background-color: blue;
    color: white;
    text-align: center;
    display: block;
    padding: 0.4rem 0.7rem;
    margin: 2rem 0;

}

.feature-plan {

    gap: 2rem;
    padding-top: 2rem;

    ul {

        list-style: none;

    }

    li {

        padding-bottom: 1rem;
    }

    li.ok:before {

        content: '\2714';
        color: blue;

    }

}



/* end business*/

/* contact */

.contact {

    margin-top: 4rem;
}

/* end contact */

/*operation*/

.operation {

    margin-top: 4rem;
}

/* end operation */

/* team */

.team {

    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* end team */

footer {

    background-color: black;
    color: white;

    li {

        list-style: none;
        padding-top: 1rem;
    }
}

.space-b {

    justify-content: space-between;

}

hr {

    margin-top: 3rem;
    margin-bottom: 1rem;
}

.f-foot {

    width: 70%;
    margin: 0 auto;
}