/*debug*/

* {

    border: dashed 1px;
}

/*end-debug*/

/* region common */

.flex {

    display: flex;
    flex-wrap: wrap;

}

/* region common */

.container-menu {

    align-items: center;
    align-content: center;
    justify-content: center;

}

.left-menu,
.right-menu {

    list-style: none;
    display: flex;
    align-items: center;

    li {

        margin-left: 1rem;
    }
}

.right-menu {



}

.b-start:link,
.b-start:visited {

    background-color: blue;
    color: white;
    padding: 0.4rem 0.7rem;
    text-align: center;
    text-decoration: none;

}

.jumbotron {

    width: 80%;

    i {
        color: red;
        font-size: 2rem;
    }

}

.logo {
    
height: 25px;
margin-left: 1rem;
  
}